/* Start */
/* body {
    background-color: aquamarine;

}

.card-wrapper {
    width: 350px;
    height: 500px;
    background-color: white;
    margin: 20px auto;
    border: 2px solid blue;
    transition: 500ms;
   
}
.card-wrapper:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
}
.card-wrapper .card-img {
    width: 180px;
    height: 180px;
    margin: 15px auto;

}

.card-wrapper .card-img img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.card-info span {
    display: block;
    font-size: 20px;
    color: black;
}

.card-info .job-name {
    color: gray;
}

.card-info h1,
span {
    text-align: center;
    margin-top: 15px;
}

.card-sosial-icons {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: rgb(165, 42, 97);
}

.card-sosial-icons .fa-instagram {
    color: pink;
}

.card-wrapper button {
    background-color: black;
    color: white;
    padding: 10px 60px;
    margin: 20px auto;
    border-radius: 20px;
    display: block;
    transition: 1s;
}
.card-wrapper button:hover{
    background-color: violet;
    color: black;
    padding: 20px 80px;
    font-size: 24px;
} */

/* End */
body{
    /* background-color: green; */
}
.card-wrapper{
background-color: blue;
height: 100vh;
}

.card-wrapper .card{
    position: relative;
    width: 240px;
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
    display: inline-block;

}
.card-wrapper .card .title{
    margin-top: 10px;
    font-size: 22px;

    
}
.card-wrapper .card .title .subtitle{
    color: gray;
}
.card-wrapper .card .title .bold{
font-weight: bold;
}
.card-wrapper .card .title p{
    margin-top: 10px;
}

.card-wrapper .card .date-text {
    margin-top: 10px;
}
.card-wrapper .card .date-text  span{
color: green;
font-size: 22px;
}

.icon-area1{
    position: absolute;
    right: -20px;
    top: 40px;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
}
.icon-area2{
    position: absolute;
    right: -20px;
    top: 40px;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}
.icon-area1 i{
    font-size: 35px;
    margin-top: 7px;
    margin-left: 7px;
    color: white;
}
.fa-globe{
    color: brown !important;
}